# Virtual Environment
venv/
backend/venv/

# Environment variables
.env
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Chroma Database
backend/data/chroma/

# VS Code
.vscode/

# macOS
.DS_Store